# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'File'
    'submenu': [
      'label': 'Sync on Save'
      'submenu': [
        {
          'label': 'Enable Syncing'
          'command': 'sync-on-save:enable-sync'
        },
        {
          'label': 'Disable Syncing'
          'command': 'sync-on-save:disable-sync'
        },
        {
          'label': 'Start Syncing'
          'command': 'sync-on-save:sync'
        }
      ]
    ]
  }
]
