# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Sync notes'
      'command': 'sync-on-save:sync'
    }
  ]
'menu': [
  {
    'label': 'File'
    'submenu': [
      'label': 'Pushy Notes'
      'submenu': [
        {
          'label': 'Sync notes'
          'command': 'sync-on-save:sync'
        }
      ]
    ]
  }
]
